
@import url(../css/general-style.css);

.sidebar-container{
    position: fixed;
    width: var(--width-sidebar); 
    height: 100%;
}

@media (max-width: 992px) {
    .sidebar-container {
       visibility: collapse;
    }
}

.sub-btn{
    padding: 0.5rem 1rem;
    width: 100%;
}

.sub-btn__arrow{
    transition: transform .2s ease-in-out;
}

.sub-btn[aria-expanded="true"]{
    background-color: gainsboro;
}

.sub-btn[aria-expanded="true"] .sub-btn__arrow {
    transform: rotate(90deg);
    
}

.nav-link:hover{
        background-color: gainsboro;
}



/* .btn-toggle-nav{
    padding: 6px 12px;
} */

.header-container{
    position: fixed;
    right: 0;
    margin-left: auto;
    background-color: red;
    height: 52px;
    width: calc(100% - var(--width-sidebar));
}

.footer-container{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-left: auto;
    background-color: blueviolet;
    height: 70px;
    width: calc(100% - var(--width-sidebar));
}