

.page-title {
    width: 100%;
    padding: 92px 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: .85;
    text-align: center;
}


.page-title h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}

.page-content{
    padding: 64px 0;
}

.page-content p{
    line-height: 1.6;
}

.item-blog{
    padding-bottom: 62px;
}
.hov-img{
    display: block; 
    overflow: hidden;
    position: relative;
}

.hov-img img{
    width: 100%;
    transition: all .8s;
}
.hov-img:hover img{
    transform: scale(1.04);
}

.time-post{
    position: absolute;
    top: 15px;
    left: 10px;
    width: 70px;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.9);
}

.time-post span{
    font-size: 30px;
    font-weight: bold;
    line-height: 1.1;
    color: #333;
}
.time-post p{
    font-size: 12px;
    color: #333;
    text-align: center;
}

.blog-text-container{
    padding-top: 32px;
}

.blog-text-container .blog-name{
    transition: all 0.4s;
    color: #333;
    font-size: 1.5rem;
    font-weight: 700;
}
.blog-name:hover{
   color: var(--color-text-hover);
}

.blog-about{
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-info{
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
}

.break-span{
    margin-left: 4px;
    margin-right: 6px;
    color: #cccccc;
}
.blog-about .continue-reading{
    color: #333;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 550;
    text-transform: uppercase;
}




