* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --color-text-hover: #FF6C60;
    --font-web: Arial, Helvetica, sans-serif;
    --font-size-title: 36px;
    --font-weight-title: 500;
}


.contact-container{
    margin: 62px 0;
    display: flex;
    
}

.message-frm{
    padding: 40px 80px;
}

.message-frm .title{
    text-align: center;
 margin-bottom: 28px;
}

.form-floating{
    padding-bottom: 8px;
}

.link-content {
    color: #0d6efd;
    /* text-decoration: underline; */
}
.link-content:hover{
    color: #0a58ca;;
}
.question-group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.question-group .rememberme{
    display: flex;
    justify-content: space-around;
}
.rememberme input{
    margin-right: 8px;
}

.btn{
    width: 100%;
    margin-top: 4px;
    width: 100%;
    padding: 12px 28px;
    text-size-adjust: inherit;
}


.register {
    text-align: center;
}

.contact-info {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}