 @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,1000;1,200;1,300;1,500&display=swap');

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
 }

 :root {
     --color-text-hover: #FF6C60;
     /* --font-web: Arial, Helvetica, sans-serif; */
     --font-web: 'Nunito', sans-serif;
     --font-size-title: 36px;
     --font-weight-title: 500;
     --width-sidebar: 20rem;
 }


 html,
 body {
     font-family: var(--font-web);
 }

 /* animate for hover an link */
 a {
     text-decoration: none;
     cursor: pointer;
 }



 .hover-underline-animation {
     display: inline-block;
     position: relative;
     /* padding-bottom: 4px; */
 }

 .hover-underline-animation::after {
     content: '';
     position: absolute;
     width: 100%;
     transform: scaleX(0);
     height: 2px;
     bottom: 0px;
     left: 0;
     background-color: var(--color-text-hover);
     transform-origin: bottom left;
     transition: transform 0.25s ease-out;
 }

 .hover-underline-animation:hover::after {
     transform: scaleX(1);
 }

/* overlay */

 .overlay {
    cursor: pointer;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2
}

 /* side bar */
 .sidebar {
     position: fixed;
     width: var(--width-sidebar);
     height: 100%;
     left:  calc(var(--width-sidebar) * -1);
     overflow: hidden;
     transition: 0.4s ease;
     transition-property: left;
     background: #fff;
     z-index: 1000;

 }

 .content-sidebar {
     display: flex;
     flex-direction: column;
     overflow: hidden;
     height: 100%;
     padding: 0 32px;

 }

 .content-sidebar .bar-logo {
     position: relative;
     height: 68px;
     display: flex;
     align-items: center;

 }

 .menu-sidebar {
     padding-bottom: 48px;
 }

 .content-sidebar .bar-item {
     padding: 16px 0px;
     /* float: left; */
     border: none;
     display: block;
     outline: 0
 }

 .search-button-group {
     position: relative;
     max-width: 768px;
     margin: 0 auto 30px;
     display: flex;
     align-items: center;
     border-bottom: 2px solid currentColor;


 }


 .search-button-group .search-field {
     border: 0;
     border-radius: 0;
     background: transparent;
     height: auto;
     box-sizing: border-box;
     padding: 15px 16px;
     outline: none;
 }


 .account-menu,
 .cart-menu,
 .language-menu {
     display: flex;
     justify-content: space-between;
     position: relative;
 }

 .language-menu .ti-angle-down,
 .language-selected {
     padding: 8px;
 }

 .language-sub-menu {
     padding: 12px;
     list-style-type: none;
     position: absolute;
     top: 100%;
     right: -16px;
     box-shadow: 2px 2px 5px gray;
 }

 .language-menu li {
     border-bottom: 1px solid #eeeeee;
 }

 .bottom-extras a,
 .bar-button {
     border: none;
     display: inline-block;
     padding: 8px 0;
     vertical-align: middle;
     overflow: hidden;
     text-decoration: none;
     color: inherit;
     background-color: inherit;
     cursor: pointer;
     white-space: nowrap;
     width: 100%;
     text-align: left;

 }

 .bar-button:hover {
     background-color: rgba(0, 0, 0, 0.5);
     /* background: red; */
 }

 

 /* header */
 a {
     text-decoration: none;
     cursor: pointer;
 }


 /* intilizie  */

 dl,
 ol,
 ul,
 p {
     margin: 0;
 }

 ol,
 ul,
 p {
     padding: 0;
 }

 .container-menu-desktop {
     border-bottom: 1px solid #ddd;
 }

 .container-menu-desktop .top-bar {
     background-color: #222222;
     color: #666666;

 }


 .content-topbar {
     display: flex;
     justify-content: space-between;
     height: 40px;
     align-items: center;
     line-height: 40px;
     /* font-family: var(--font-web) */

 }


 .content-topbar ul {
     background: #ffffff none repeat scroll 0 0;
     border: 1px solid #ededed;
     padding: 12px;
     position: absolute;
     list-style-type: none;
     top: 100%;
     left: 0%;
     min-width: 120px;

 }

 .content-topbar a {
     text-decoration: none;
     color: #666666;

 }

 .left-top-bar {
     padding-left: 16px;
 }

 .right-top-bar {}

 .right-top-bar>a {
     text-decoration: none;
     padding: 0 24px;
     /* font-family: Arial, Helvetica, sans-serif; */
     font-size: 14px;
     line-height: 1.8;
     height: 100%;
     color: #b2b2b2;
     border-right: 1px solid rgba(255, 255, 255, 0.3);
 }

 .menu-top-bar {
     position: relative;
     display: inline-block;
     padding: 0 16px;
 }

 .menu-top-bar .sub-menu-top-bar {
     display: none;
     z-index: 2;
 }

 .menu-top-bar:hover>a {
     color: var(--color-text-hover);


 }

 .menu-top-bar:hover .sub-menu-top-bar {
     display: block;

 }

 .sub-menu-top-bar a:hover {
     display: block;
     color: var(--color-text-hover);
     ;

 }

 .sub-menu-top-bar li {
     border-bottom: 1px solid #eeeeee;
     line-height: 18px;
     padding: 12px 0;

 }

 .menu-top-bar.currentcy .sub-menu-top-bar {
     transform: translateX(-50%);
 }



 /*  menu-header  */

 .container-menu-header {
     height: 84px;
     display: flex;
     align-items: center;
     position: relative;

 }

 .icon-hamburger {
     display: none;
     /* font-family: Arial, Helvetica, sans-serif; */

 }

 .logo {
     display: flex;
     /*position: absolute;
    transform: translateX(-50%); */
     /* left: 50%; */
     height: 80%;
     padding: 0 32px;


 }

 .nav-main-menu {
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
 }

 .nav-main-menu a {
     text-decoration: none;
     /* font-family: Arial, Helvetica, sans-serif; */
     font-size: 18px;
     line-height: 1.8;
     color: #000000;
 }

 .nav-main-menu li,
 .nav-icon-menu li:not(:last-child) {
     display: inline-block;
     padding: 0 20px;
 }

 .nav-main-menu li:hover a,
 .nav-icon-menu li:hover i {
     color: var(--color-text-hover);
 }

 .nav-icon-menu {
     position: absolute;
     cursor: pointer;
     right: 16px;

 }

 .nav-icon-menu #icon_search,
 .nav-icon-menu .icon-cart,
 .nav-icon-menu .icon-hamburger {
     font-size: 24px;
     cursor: pointer;
 }


 /* .nav-icon-menu .icon-search{
    position: relative;
    overflow: hidden;
} */



 .nav-icon-menu .search__toggle {
     position: relative;
     /* overflow: hidden; */
     width: 28px;
     height: 28px;

 }

 .icon-cancel-search {
     position: absolute;
     transform: translateX(-50%) rotate(-45deg);
     width: 15%;
     height: 100%;
     left: 50%;
     top: 0;
     opacity: 0;
 }

 .icon-cancel-search::before {
     content: "";
     position: absolute;
     transform: translateX(-50%) rotate(90deg);
     width: 100%;
     height: 100%;
     left: 50%;
     /* top: 0; */
     opacity: 0;
 }


 .toggled .icon-cancel-search {
     display: inline-block;
     position: absolute;
     left: 50%;
     transform: translateX(-3px);
     top: -2px;
     transform: rotate(135deg);
     opacity: 1;
     background: #000000;
     /* transition:  transform .8s ease 0s,opacity 0.8s ease 0s; */
 }

 .toggled .icon-cancel-search::before {
     content: "";
     display: inline-block;
     left: 50%;
     top: 0;
     opacity: 1;
     background: #000000;
 }

 .toggled #icon_search {
     opacity: 0;
     transition: opacity .5s;
 }

 #icon_search,
 .icon-cancel-search,
 .icon-cancel-search::before {
     transition: all .3s ease;
 }

 /* menu  responsive */

 /* responsive for top-bar */
 @media screen and (max-width: 600px) {

     .top-bar,
     .icon-cart,
     .icon-search {
         display: none !important;
     }
 }

 @media screen and (max-width: 960px) {

     .nav-main-menu {
         display: none;
     }

     .icon-hamburger {

         display: inline-block;
         padding: 0 20px;
         font-size: 36px !important;
     }

 }


 /* footer */
 .footer-container{
    width: 100%;
    background-color: #111111;
 }

 .content-footer a {
     text-decoration: none;
     cursor: pointer;
     color: #ffffff;
 }

 .content-footer a:hover {
     color: #ffffff;
 }

 .content-footer {
    
     padding: 80px 0 0 0;
 }

 .content-footer .widget-list {
     display: flex;
     justify-content: space-around;
     color: #ffffff;
     padding-bottom: 60px;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 .widget-list .widget {
     line-height: 1.6;
     padding: 16px;
 }

 .widget .widget-content li {
     display: inline-block;
     padding: 16px;
     font-size: 24px;
 }

 .copyright {
     border-top: 1px solid rgba(255, 255, 255, 0.1);
     color: #fff;
     text-align: center;
     padding: 40px 0;
 }

 #footer {
     background-color: #111111;
     line-height: 1.6;
 }