* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --color-text-hover: #FF6C60;
    --font-web: Arial, Helvetica, sans-serif;
    --font-size-title: 36px;
    --font-weight-title: 500;
}


.container {
    margin-top: 52px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

/* responsive container */


/* @media (max-width: 1200px) {
    .product-content{
        justify-content: center;
    }
   
} */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .grid-sizer {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .grid-sizer {
        width: 50%;
    }

}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .product-box {
        width: 50%;
    }

    .grid-sizer {
        width: 33.3333%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .grid-sizer {
        width: 25%;
    }
}


.product-container {
    margin: 16px auto;
}

.product-filter {
    display: flex;
    justify-content: space-between;

}


#filter-btns-text {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#filter-btns-text .btn {
    margin: 4px 32px 4px 0;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #888888;
    font-size: 16px;
}


#filter-btns-text .active,
#filter-btns-text .btn:hover {
    color: #000000;
}


.active.hover-underline-animation::after {
    transform: scaleX(1);
}


.btn-search {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    min-width: 111px;
    height: 40px;
    font-family: var(--font-web);
    color: #888888;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #ffffff;
    cursor: pointer;
}

.btn-search::after {
    content: "";
    position: absolute;
    display: none;
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border-left: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    transform-origin: center center;
    transform: rotate(-45deg);
    left: calc(50% - 7px);
    bottom: -8px;
    transition: all 0.4s;
}

.btn-search .ti-search,
.btn-search .ti-close {
    margin-right: 4px;
}

.btn-search .ti-close {
    display: none;
}


.show-search .ti-close,
.show-search.btn-search::after {
    display: block;

}

.btn-search.show-search .ti-search {
    display: none;
}


.search-product {

    border-radius: 2px;
    border-color: #e6e6e6;
    width: 100%;
    margin: 16px 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.search-product.show-search {
    height: 52px;
    border: 1px solid #e6e6e6;
}

.search-button-group {
    display: flex;
    align-items: center;
    padding-left: 16px;
}


.search-button-group .search-field {
    border: 0;
    border-radius: 0;
    background: transparent;
    height: auto;
    padding: 16px 8px;
    outline: none;
    width: 100%;
    font-size: 16px;
}




.product-content {
    /* min-height: 300px; */
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    justify-content: space-evenly;

}


.product-box {
    padding: 0 5px 36px;
    /* width: 280px; */
    /* position: absolute; */
    /* max-width: 25%;  */
    /* display: none; */

}

.product-box .box-image {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.box-image .quick-view {

    position: absolute;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    padding: 8px;
    top: 100%;
    text-align: center;
    border-radius: 32px;
    transition: all 0.3s;
    background-color: #ffffff;

}

.box-image .product-box-image {
    display: block;
    max-height: 100%;
    max-width: 100%;
    transition: all 0.4s;

}

.box-image:hover .quick-view {
    top: 84%;
}

.box-image:hover .product-box-image {

    transform: scale(1.05);

}



.product-box p,
.product-box a {
    line-height: 1.6;
}

.product-box .product-name {
    font-size: 16px;
    color: #999;
}

.box-caption {
    color: #666666;
}

.load-more {
    cursor: pointer;
    margin: auto;
    width: 150px;
    border: 2px solid #000000;
    text-align: center;
    padding: 16px;
    /* background-color: #888888; */
    border-radius: 32px;
    transition: all 0.3s;
}



.load-more .load-text,
.quick-view .text {
    /* color: #000000; */
    color: #000000;

}

.load-more:hover,
.quick-view:hover {
    background-color: #000000;
}


.load-more:hover .load-text,
.quick-view:hover .text {
    color: #ffffff;
}